################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/PalTracker/bin
/src/PalTracker/obj
/test/PalTrackerTests/obj
